/*
 * 04_sections/nav
 * Styles for nav section
 */

.site__nav {
  position: absolute;
  top: spacing(.5);
  right: $global_gutter/2 * 1%;

  ul {
    @include resetList(0px, 0px);
    text-align: center;
  }

  li {
    @include rem(margin, 0 spacing(.5));
    display: inline-block;
  }

  .highlight {

    a {
      @include rem(padding, 0 spacing(.75));
      background: theme(brand);
      border: 1px solid theme(brand);
      color: theme(light-text, $dark-theme);
      display: block;
      font-weight: $demiFont;

      @include hover {
        background: theme(background);
        color: theme(brand);
      }
    }
  }

  a {
    font-size: $text_small_size;
  }
}
