/**
 * 00_bits/vars
 * Vars module
 * Contains the grid, colours, and typography variables.
 */

// Spacing
$global_columns: 12;
$global_gutter: 9; //3.183;
$base_spacing: 16px;

@function spacing($multiplier: 1) {
  @return $base_spacing * $multiplier;
}

@function gutter($multiplier: 1) {
  @return $global_gutter * $multiplier * 1%;
}

@mixin bp($key) {
  $breakpoint: map-get($bp, "#{ $key }");
  @media(max-width: $breakpoint/16 * 1em) {
    @content;
  }
}

$global_mobile_gutter: spacing(1.5);

// Breakpoints
$bp: (
  ideal: 1200,
  large: 1110,
  medium: 940,
  small: 768,
  x-small: 600,
  tiny: 340 // 320
);

// Get values from map
@function color($key) {
  @return map-get($colors, "#{ $key }");
}
@function theme($key, $selected-theme:$theme) {
  @return color(map-get($selected-theme, "#{ $key }"));
}

$colors: (
  BLACK: #212432,
  GREY: #A7AABB,
  BLUE: #4296CB,
  RED: #FF505F,
  OFF-WHITE: #FAFCFD,
  WHITE: #fff
);

$theme: (
  brand: BLUE,
  background: WHITE,
  background-alt: OFF-WHITE,
  border: GREY,
  button-hover: BLUE,
  input-border: GREY,
  input-text: GREY,
  light-text: GREY,
  link-hover: BLUE,
  link: BLUE,
  text: BLACK,
  info: BLUE,
  success: BLUE,
  error: RED
);

$dark-theme: (
  background: GREY,
  border: OFF-WHITE,
  light-text: WHITE,
  text: OFF-WHITE
);

//focus
$focus_border: rgba(82, 168, 236, 0.8);

// typography
$base_size: 62.5%;
$display: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans_serif: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "Georgia", "Times New Roman", Times, serif;
$code: "Maison Neue Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

$global_family: $sans_serif;

$text_size: 16px;
$text_small_size: 13px;
$lists_font_size: $text_size;
$text_line_height: 32px;
$text_small_line_height: 23px;
$lists_line_height: $text_line_height;

$huge: 48px;
$large: 40px;
$medium: 28px;
$small: 19px;
$x-small: 16px;
$tiny: 15px;
$nano: 12px;

$lightFont: 300;
$regularFont: 400;
$demiFont: 700;
$boldFont: 800;

/* end */
